body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.profile-container {
  position: relative;
  overflow: hidden;
  border: 1px solid black; /* Warna dan ketebalan garis kotak (putih) */
  box-sizing: border-box;
  display: inline-block;
  flex-direction: column;
  align-items: center;
}

.profile-container img {
  width: 300px;
  height: auto;
  display: block;
}

.profile-container h3 {
  margin-top: 10px; /* Atur jarak antara gambar dan teks */
}


.leftcolumn {   
    float: right;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    
  
  }

  @media screen and (max-width: 800px) {
    .leftcolumn{   
      width: 100%;
      padding: 0;
    }
  }

  div.gallery {
    border: 1px solid #ccc;
    
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 250px;
  }
  
  div.desc {
    padding: 10px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 10px 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 10px;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}